html {
  scroll-behavior: smooth;
  scroll-padding-top: 60px;
}

body {
  background-color: #ffebee;
  font-size: large;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  line-height: 1.7em;
  /* font-weight: bold; */
}

.myContainer {
  margin: 30px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.row-header {
  margin: 0px auto;
  padding: 0px 0px; }

.row-content {
  margin: 0px auto;
  padding: 30px 0px;
  border-bottom: 1px lightgray ridge;
  min-height: 300px; }

.footer {
  background-color: #e57373;
  margin: 0px auto;
  padding: 10px 0px; 
  height: auto;
}

.jumbotron {
  height: 100vh;
  position: relative;
  margin: 7px auto 0px auto;
  padding: 70px 30px;
  background-image: linear-gradient(#b71c1c, black);
  color: floralwhite; }

.jumbotron h1 {
  position: relative;
  animation: heading;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  text-shadow: 2px 2px 4px #000000;
}

@keyframes heading{
  0% {top: -300px;}
  100% {top: 15px;}
}

.jumbotron p {
  position: relative;
  animation-name: content;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes content{
  0% {left: -1000px;}
  100% {left: 0;}
}

.jumbotron .btn{
  display: inline-block;
  color: white;
  padding: 1rem 2rem;
  border: white 1px solid;
  margin-top: 20px;
  opacity: 0;
  animation-name: btn;
  animation-duration: 2s;
  animation-delay: 2s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
  transition-property: transform;
  transition-duration: 1s;
}

.jumbotron .btn:hover {
  box-shadow: 0 4px 4px 0 lightskyblue, 0 4px 4px 0 lightskyblue;
}

@keyframes btn{
  0% {opacity: 0;}
  100% {opacity: 1};
}

address {
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f; }

body {
  padding: 50px 0px 0px 0px;
  z-index: 0; }

.navbar {
  margin-bottom: 0px; 
  z-index: 90;
  /* padding: 0px;
  height: 60px; */
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.nav-item {
  height: 100%;
  margin: 0px;  
}

.navbar-light {
  background-color: #b30a0a; }


.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px; }

.carousel {
  background-color: #9e7c7c;
  width: 100%; }
  .carousel .carousel-item {
    height: 300px; }
    .carousel .carousel-item img {
      position: relative;
      width: 100%;
      height: 100%;
      min-height: 300px; }
    .carousel .carousel-item h2{
      font-size: 20px !important;
    }
    .carousel .carousel-item p{
      font-size: 18px !important;
    }
  .carousel .carousel-control-prev {
    height: 50px;
    width: 50px;
    margin-top: 120px;
    margin-left: 40px; 
    color: black; 
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f00' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
  }
  .carousel .carousel-control-next {
    height: 50px;
    width: 50px;
    margin-top: 120px;
    margin-right: 40px;
    color: black; 
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f00' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
  }

.media img {
  height: 250px;
  width: 335px;
}

.modal-content .modal-header {
  background-color: #512DA8;
  color: floralwhite; }
  .modal-content .modal-header .close {
    color: floralwhite; }

.modal-content .modal-body {
  background-color: #D1C4E9; }

/* .card {
  border: 1px solid black;
} */

.zoom {
  transition: transform .2s; /* Animation */
}

.event1{
  z-index: -1;
}

#events .card {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 20px;
  margin-bottom: 30px;
  width: 25rem;
  line-height: 1.3em;
  box-shadow: 10px 10px lightgrey;
}

#team .card {
  text-align: center;
  margin-bottom: 30px;
  height: 1;
  margin-left: 20px;
  margin-right: 20px;
  border: 1px solid black;
}

#team .card-title {
  background-color: #b71c1c;
  color: #fff;
  height: 1 ;
}

#team h4 {
  text-shadow: 1px 1px black;
}

.zoom:hover {
  transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
  
#carouselButton {
  right: 0px;
  position: absolute;
  bottom: 0px; }

  .navbar-fixed-top.scrolled {
    background-color: #fff;
    transition: background-color 200ms linear;
  }

.hover{
  background-color: #b71c1c;
  color: #fff;
}

.nav-item .nav-link:hover {
  text-shadow: 0 0 3px #FF0000;
}

@media (max-width: 600px) {
  #youtube {
    width: 90%;
    height: 260;
  }

  #mycarousel, #carouselitems {
    height: 250px;
  }
}
    